```
Create a dictionary named student_scores with the following key-value pairs:
"Alice": 85
"Bob": 78
"Charlie": 92
"Diana": 88
"Evan": 76
```

1. Write a for loop to iterate through the student_scores dictionary and print each student's name and their score in the format: Student: [Name], Score: [Score].

In [3]:
student_scores = {
    "Alice":85,
    "Bob": 78,
    "Charlie": 92,
    "Diana": 88,
    "Evan": 76,
}

for key , val in student_scores.items():
    print(f'Student : {key} , Score : {val}')

Student : Alice , Score : 85
Student : Bob , Score : 78
Student : Charlie , Score : 92
Student : Diana , Score : 88
Student : Evan , Score : 76

2. Write a for loop to calculate the average score of the students. Print the average score.

In [10]:
student_scores = {
    "Alice":85,
    "Bob": 78,
    "Charlie": 92,
    "Diana": 88,
    "Evan": 76,
}

total = 0
for key , val in student_scores.items():
    total += val

average = total / len(student_scores) 
print(average)

83.8

3. Write a for loop to assign grades based on the following criteria:
* Score >= 90: Grade A
* Score >= 80 and < 90: Grade B
* Score >= 70 and < 80: Grade C
* Score < 70: Grade D
* Store these grades in a new dictionary called student_grades.

In [11]:
student_scores = {
    "Alice":85,
    "Bob": 78,
    "Charlie": 92,
    "Diana": 88,
    "Evan": 76,
}

student_grades = {}

for key , val in student_scores.items():
    if val >= 90:
        student_grades[key] = 'A'
    elif val>= 80 and val < 90:
        student_grades[key] = 'B'
    elif val>= 70 and val < 80:
        student_grades[key] = 'C'
    elif val< 70:
        student_grades[key] = 'D'
        
print(student_grades)

{'Alice': 'B', 'Bob': 'C', 'Charlie': 'A', 'Diana': 'B', 'Evan': 'C'}

4. Modify the student_scores dictionary by adding 5 bonus points to each student's score. 
* Print the updated student_scores dictionary.

In [16]:
student_scores = {
    "Alice":85,
    "Bob": 78,
    "Charlie": 92,
    "Diana": 88,
    "Evan": 76
}

for key , val in student_scores.items():
    student_scores[key] =  val + 5
    
print(student_scores)

{'Alice': 90, 'Bob': 83, 'Charlie': 97, 'Diana': 93, 'Evan': 81}

```
Create a dictionary named employee_data with the following key-value pairs:
"John": 55000
"Emma": 60000
"Harry": 70000
"Sophia": 65000
"Mike": 48000
```

1. Write a for loop with an if statement to identify employees who earn more than $60,000. Print their names.

In [17]:
employee_data={
    "John": 55000,
    "Emma": 60000,
    "Harry": 70000,
    "Sophia": 65000,
    "Mike": 48000,
}

for key , val in employee_data.items():
    if val > 60000:
        print(f'{key} earn : {val}')

Harry earn : 70000
Sophia earn : 65000

2. Write a for loop to increase the salary of each employee by 10%. Update the dictionary accordingly.

In [20]:
employee_data={
    "John": 55000,
    "Emma": 60000,
    "Harry": 70000,
    "Sophia": 65000,
    "Mike": 48000,
}

for key , val in employee_data.items():
      increament = val * .10
      employee_data[key] = int(val + increament )
    #   print(f'{key} earn : {increament}')
print(employee_data)

{'John': 60500, 'Emma': 66000, 'Harry': 77000, 'Sophia': 71500, 'Mike': 52800}

```
Create a dictionary named library_books with the following key-value pairs:
"The Great Gatsby": 4
"1984": 6
"To Kill a Mockingbird": 3
"The Catcher in the Rye": 5
"Moby Dick": 2
```

1. Write a for loop to add 2 more copies to each book. Update the dictionary accordingly.

In [21]:
library_books={
    "The Great Gatsby": 4,
    "1984": 6,
    "To Kill a Mockingbird": 3,
    "The Catcher in the Rye": 5,
    "Moby Dick": 2,
}

for key , val in library_books.items():
      library_books[key] =val + 2 
      
print(library_books)

{'The Great Gatsby': 6, '1984': 8, 'To Kill a Mockingbird': 5, 'The Catcher in the Rye': 7, 'Moby Dick': 4}

2. Write a for loop to calculate the total number of books in the library. Print the total count.

In [23]:
library_books={
    "The Great Gatsby": 4,
    "1984": 6,
    "To Kill a Mockingbird": 3,
    "The Catcher in the Rye": 5,
    "Moby Dick": 2,
}
total_books = 0
for key , val in library_books.items():
      total_books += val
      
print(f'total books in the library : {total_books}')

total books in the library : 20

```
consider the list of dicts
book_list = [{"name": "The Great Gatsby", "quantity": 4}, {"name": "1984", "quantity": 6}, {"name": "To Kill a Mockingbird", "quantity": 3}, {"name": "Moby Dick", "quantity": 2}]
Write a for loop to assign one more detail "stock" based on the number of copies available:
Copies >= 5: "Popular"
Copies >= 3 and < 5: "Available"
Copies < 3: "Limited"
Store these stock categories in a same dict i.e book_list.
```

In [60]:
book_list = [{"name": "The Great Gatsby", "quantity": 4},
             {"name": "1984", "quantity": 6},
             {"name": "To Kill a Mockingbird", "quantity": 3},
             {"name": "Moby Dick", "quantity": 2}]

for val in book_list:
    for key , value in val.items():
        if val["quantity"] >= 5:
            val['stock'] = 'Popular'
        elif val["quantity"] >=3 and val["quantity"] < 5:
            val['stock'] = 'Available'
        elif val["quantity"] < 3:
            val['stock'] = 'Limited'    
        break    
display(book_list)

[{'name': 'The Great Gatsby', 'quantity': 4, 'stock': 'Available'},
 {'name': '1984', 'quantity': 6, 'stock': 'Popular'},
 {'name': 'To Kill a Mockingbird', 'quantity': 3, 'stock': 'Available'},
 {'name': 'Moby Dick', 'quantity': 2, 'stock': 'Limited'}]

"""
Given the dict

students = {
    "Alice": {
                "Subjects": ["Math", "Science", "English"],
                "Scores": [85, 90, 78],
                "Class": 10
            },
    "Bob": {
        "Subjects": ["Math", "Science", "English"],
        "Scores": [75, 80, 88],
        "Class": 10
    },
    "Charlie": {
        "Subjects": ["Math", "Science", "English"],
        "Scores": [92, 89, 94],
        "Class": 11
    },
    "Diana": {
        "Subjects": ["Math", "Science", "English"],
        "Scores": [88, 76, 85],
        "Class": 11
    },
    "John": {
        "Subjects": ["Math", "Science", "English"],
        "Scores": [50, 60, 60],
        "Class": 11
    }
}


1. display Alice English Score
2. display Bob Class
3. display Charlie Math Score
4. display Diana's avg score
5. display John's all subject name and score with format: Student: [Name], Score: [Subject], Score: [Score].
6. Add new Student and its subject, score and class in same dict i.e students
7. add new subject and its score in John
"""

In [100]:
students = {
    "Alice": {
            "Subjects": ["Math", "Science", "English"],
            "Scores": [85, 90, 78],
            "Class": 10
            },
    "Bob": {
        "Subjects": ["Math", "Science", "English"],
        "Scores": [75, 80, 88],
        "Class": 10
    },
    "Charlie": {
        "Subjects": ["Math", "Science", "English"],
        "Scores": [92, 89, 94],
        "Class": 11
    },
    "Diana": {
        "Subjects": ["Math", "Science", "English"],
        "Scores": [88, 76, 85],
        "Class": 11
    },
    "John": {
        "Subjects": ["Math", "Science", "English"],
        "Scores": [50, 60, 60],
        "Class": 11
    }
}

#1
display(f"""Alice {students["Alice"]['Subjects'][2]} score : {students["Alice"]['Scores'][2]}""")

#2
display(f"""Bob class : {students["Bob"]['Class']} """)

#3
display(f"""Charlie {students["Charlie"]['Subjects'][0]} score : {students["Charlie"]['Scores'][0]}""")

#4
score = sum(students['Diana']['Scores']) 
avg_score = score / len(students['Diana']['Scores'])
print(score,avg_score)

#5
for key, val in students.items():
    if key =='John':
        print(f'''{key} , Subjects : {students[key]['Subjects']} , Scores : {students[key]['Scores']} ''')
        # print(students[key])
        

#6
Scores = [50, 60, 60]
Subjects = ['Math', 'Science', 'English']
name = 'Jack'
students[name] = {
    "Subjects": Subjects,
    "Scores": Scores,
    "class": 12
}
display('task 6',students)

#7
for key, val in students.items():
    if key =='John':
        students[key]['Subjects'] = students[key]['Subjects'] + ['Physics']
        students[key]['Scores'] = students[key]['Scores'] + [78]
display('task 7',students)

'Alice English score : 78'

'Bob class : 10 '

'Charlie Math score : 92'

249 83.0
John , Subjects : ['Math', 'Science', 'English'] , Scores : [50, 60, 60]

'task 6'

{'Alice': {'Subjects': ['Math', 'Science', 'English'],
  'Scores': [85, 90, 78],
  'Class': 10},
 'Bob': {'Subjects': ['Math', 'Science', 'English'],
  'Scores': [75, 80, 88],
  'Class': 10},
 'Charlie': {'Subjects': ['Math', 'Science', 'English'],
  'Scores': [92, 89, 94],
  'Class': 11},
 'Diana': {'Subjects': ['Math', 'Science', 'English'],
  'Scores': [88, 76, 85],
  'Class': 11},
 'John': {'Subjects': ['Math', 'Science', 'English'],
  'Scores': [50, 60, 60],
  'Class': 11},
 'Jack': {'Subjects': ['Math', 'Science', 'English'],
  'Scores': [50, 60, 60],
  'class': 12}}

'task 7'

{'Alice': {'Subjects': ['Math', 'Science', 'English'],
  'Scores': [85, 90, 78],
  'Class': 10},
 'Bob': {'Subjects': ['Math', 'Science', 'English'],
  'Scores': [75, 80, 88],
  'Class': 10},
 'Charlie': {'Subjects': ['Math', 'Science', 'English'],
  'Scores': [92, 89, 94],
  'Class': 11},
 'Diana': {'Subjects': ['Math', 'Science', 'English'],
  'Scores': [88, 76, 85],
  'Class': 11},
 'John': {'Subjects': ['Math', 'Science', 'English', 'Physics'],
  'Scores': [50, 60, 60, 78],
  'Class': 11},
 'Jack': {'Subjects': ['Math', 'Science', 'English'],
  'Scores': [50, 60, 60],
  'class': 12}}

"""
Givent the list of students
students = [
    {
        "name": "Alice",
        "subjects": ["Math", "Science", "English"],
        "scores": [85, 90, 78],
        "Class": 10
    },
    {
        "name": "Bob",
        "subjects": ["Math", "Science", "English"],
        "scores": [75, 80, 88],
        "Class": 10
    },
    {
        "name": "Charlie",
        "subjects": ["Math", "Science", "English"],
        "scores": [92, 89, 94],
        "Class": 11
    },
    {
        "name": "Diana",
        "subjects": ["Math", "Science", "English"],
        "scores": [88, 76, 85],
        "Class": 11
    }
]

1. display Alice English Score
2. display Bob Class
3. display Charlie Math Score
4. display Diana's avg score
5. display John's all subject name and score with format: Student: [Name], Score: [Subject], Score: [Score].
6. display which class obtained the higher marks
7. display the student name that obtain high marks in subject Math in class 10
8. Add new Student and its subject, score and class in same dict i.e students
"""

In [150]:
students = [
    {
        "name": "Alice",
        "subjects": ["Math", "Science", "English"],
        "scores": [85, 90, 78],
        "Class": 10
    },
    {
        "name": "Bob",
        "subjects": ["Math", "Science", "English"],
        "scores": [75, 80, 88],
        "Class": 10
    },
    {
        "name": "Charlie",
        "subjects": ["Math", "Science", "English"],
        "scores": [92, 89, 94],
        "Class": 11
    },
    {
        "name": "Diana",
        "subjects": ["Math", "Science", "English"],
        "scores": [88, 76, 85],
        "Class": 11
    },
    {
        "name": "John",
        "subjects": ["Math", "Science", "English"],
        "scores": [78, 65, 85],
        "Class": 11
    }
]

#1
for value in students:
    for key , val in value.items():
        if val =='Alice':
            print(f'''Alice English score :{value['scores'][2]}''')

#2
for value in students:
    for key , val in value.items():
        if val =='Bob':
            print(f'''{val} class :{value['Class']}''')
        break


#3
for value in students:
    for key , val in value.items():
        if val =='Charlie':
            print(f'''{val} {value['subjects'][0]} score : {value['scores'][0]}''')
        break

#4
for value in students:
    for key , val in value.items():
        if val =='Diana':
            print(f'''{val} avg score : {sum(value['scores'])/ len(value['scores'])}''')
        break
 
#5
for value in students:
    for key , val in value.items():
        if val =='John':
            print(f'''{val}  subject : {value['subjects']}, Score: {value['scores']}''')
        break


#6
marks = []
# adding sum of each object score in marks list 
for value in students:
    marks.append(sum(value["scores"]))

   
# find the object that has max marks using marks list 
for key , val in students[marks.index(max(marks))].items():
      if key =='Class':
        print(val)


#8
Scores = [50, 60, 60]
Subjects = ['Math', 'Science', 'English']
name = 'Jack'
students_obj = {
        "name":  name,
        "subjects": Subjects,
        "scores": Scores,
        "Class": 11
    }
students.append(students_obj)
display('task 6',students)

Alice English score :78
Bob class :10
Charlie Math score : 92
Diana avg score : 83.0
John  subject : ['Math', 'Science', 'English'], Score: [78, 65, 85]
11

'task 6'

[{'name': 'Alice',
  'subjects': ['Math', 'Science', 'English'],
  'scores': [85, 90, 78],
  'Class': 10},
 {'name': 'Bob',
  'subjects': ['Math', 'Science', 'English'],
  'scores': [75, 80, 88],
  'Class': 10},
 {'name': 'Charlie',
  'subjects': ['Math', 'Science', 'English'],
  'scores': [92, 89, 94],
  'Class': 11},
 {'name': 'Diana',
  'subjects': ['Math', 'Science', 'English'],
  'scores': [88, 76, 85],
  'Class': 11},
 {'name': 'John',
  'subjects': ['Math', 'Science', 'English'],
  'scores': [78, 65, 85],
  'Class': 11},
 {'name': 'Jack',
  'subjects': ['Math', 'Science', 'English'],
  'scores': [50, 60, 60],
  'Class': 11}]